body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e74c3c; /* Naruto-themed red */
  color: #fff; /* White text color */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of viewport */
  padding-left: 300px;
  
}

.FlashcardGame {
  background-color: #222; /* Dark grey background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 90%;
}

.Flashcard {
  background-color: #333; /* Dark grey flashcard background */
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  height: 200px; /* Fixed height for flashcard */
  overflow: hidden; /* Hide overflow text */
  transition: background-color 0.3s ease;
}

.Flashcard:hover {
  background-color: #444; /* Darker grey on hover */
}

.Question, .Answer {
  color: #fff; /* White text color */
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 10px; /* Add space below the text */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

button {
  width: 100%;
  background-color: #3498db; /* Blue button color */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.Answer {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
