body {
  margin: 0;
  padding: 20px; /* Add padding to body */
  font-family: Arial, sans-serif;
  background-color: #e74c3c; /* Naruto-themed red */
  color: #fff; /* White text color */
}

.App {
  display: flex;
  flex-direction: column; /* To stack title and game */
  align-items: center;
}

.Title {
  font-size: 32px;
  margin-bottom: 20px; /* Add space below the title */
}

.FlashcardGame {
  background-color: #222; /* Dark grey background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 90%;
}

.Flashcard {
  background-color: #333; /* Dark grey flashcard background */
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: default; /* Disable pointer cursor */
  margin-bottom: 20px;
  padding: 20px;
  height: 200px; /* Fixed height for flashcard */
  overflow: hidden; /* Hide overflow text */
}

.Flashcard:hover {
  background-color: #333; /* No color change on hover */
}

.Question, .Answer {
  color: #fff; /* White text color */
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

input[type="text"] {
  width: 100%; /* Take up full width */
  margin-bottom: 10px; /* Add space below input */
  padding: 5px; /* Add padding to input */
}

button {
  background-color: #3498db; /* Blue button color */
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}
